{% extends 'base.html.twig' %}

{% block body %}
    <h1>404 - Page not found</h1>

    {# example security usage, see below #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('app_article_articles') }}">return to the homepage</a>.
    </p>
{% endblock %}